<!DOCTYPE html>
<html>
  <head>
    <title>Area Registration Form</title>
  </head>
  <body>
    <h1>Area Registration Form</h1>
    <form action="/add_area" method="POST">
        <ul>
        

    <li>
      <label for="area">Area:</label>
      <input type="text" id="area" name="area" required>
    </li>
    <li>
      <label for="prog_id">Program ID:</label>
      <input type="number" id="prog_id" name="prog_id" required>
    </li>
      <input type="submit" value="Add">
    </ul>
    

<style>
    li {
      margin-bottom: 10px;
    }
  </style>
    </form>
  </body>
</html>
