<!DOCTYPE html>
<html>
<head>
	<title>Employee Details</title>
	<style>
		table {
            background-color: aqua;
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
			color: #333;
		}
	</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Username</th>
                <th>User Level</th>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				<td>{{ row.emp_id }}</td>
				<td>{{ row.name }}</td>
				<td>{{ row.username }}</td>
                <td>{{ row.level }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
