<!DOCTYPE html>
<html>
  <head>
    <title>Employee Deletion Form</title>
  </head>
  <body>
    <h1>Employee Deletion Form</h1>
    <form action="/update_employee" method="POST">
        <ul>
        
    <li>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </li>
    <li>
      <label for="employee_id">Employee ID:</label>
      <input type="number" id="employee_id" name="employee_id" required>
    </li>
    <li>
        <label for="new_name">Name:</label>
        <input type="text" id="new_name" name="new_name" placeholder="Enter name if it needs to be changed">
      </li>
    <li>
        <label for="new_username">New Username:</label>
        <input type="text" id="new_username" name="new_username" placeholder="Enter username if it needs to be changed">
    </li>
    <li>
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" placeholder="Enter password if it needs to be changed">
    </li>

      <input type="submit" value="Update">
    
</ul>
<style>
    li {
      margin-bottom: 10px;
    }
  </style>
    </form>
  </body>
</html>
