<!DOCTYPE html>
<html>
  <head>
    <title>Program Updation Form</title>
  </head>
  <body>
    <h1>Program Updation Form</h1>
    <form action="/update_program" method="POST">
        <ul>
        
    <li>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </li>
    <li>
      <label for="program_id">Program ID:</label>
      <input type="number" id="program_id" name="program_id" required>
    </li>
    <li>
        <label for="new_name">Name:</label>
        <input type="text" id="new_name" name="new_name" placeholder="Enter name if it needs to be changed">
      </li>
    <li>
        <label for="new_release">New Release:</label>
        <input type="text" id="new_release" name="new_release" placeholder="Enter release if it needs to be changed">
    </li>
    <li>
        <label for="new_verion">New Version:</label>
        <input type="text" id="new_version" name="new_version" placeholder="Enter password if it needs to be changed">
    </li>

      <input type="submit" value="Update">
    
</ul>
<style>
    li {
      margin-bottom: 10px;
    }
  </style>
    </form>
  </body>
</html>
